#dashboard {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1 1 100%;
  app-card {
    flex: 1;
  }
}

app-card {
  display: flex;
}
@media only screen and (min-width: 768px) {
  #dashboard {
    flex-direction: row;
  }
}
