<div id="dashboard">
  <app-card>
    @if (recentLoans(); as loans) {
      <app-pending-application [loans]="loans"></app-pending-application>
    } @else {
      <app-pending-application [loans]="[]"></app-pending-application>
    }
  </app-card>
  <app-card>
    @if (filteredUsers(); as loanOfficers) {
      <app-loan-officer [loanOfficer]="loanOfficers"></app-loan-officer>
    } @else {
      <app-loan-officer [loanOfficer]="[]"></app-loan-officer>
    }
  </app-card>
  <app-card>
    <p>notifications</p>
  </app-card>
</div>
