<div id="dashboard">
  <app-card>
    @if (isLoadingLoans()) {
      <!-- Skeleton loader -->
      <app-loading-stencil [type]="'card'"></app-loading-stencil>
    } @else if (recentLoans(); as loans) {
      @if (loans.length > 0) {
        <app-pending-application [loans]="loans"></app-pending-application>
      } @else {
        <p class="empty-state">No pending applications</p>
      }
    }
  </app-card>
  <app-card>
    @if (isLoadingUsers()) {
      <!-- Skeleton loader -->
      <app-loading-stencil [type]="'card'"></app-loading-stencil>
    } @else if (filteredUsers(); as loanOfficers) {
      <app-loan-officer [loanOfficer]="loanOfficers"></app-loan-officer>
    } @else {
      <p class="empty-state">No pending applications</p>
    }
  </app-card>
  <app-card>
    @if (isLoadingUsers()) {
      <!-- Skeleton loader -->
      <app-loading-stencil [type]="'card'"></app-loading-stencil>
    } @else if (filteredUsers(); as loanOfficers) {
      <p>notifications</p>
    } @else {
      <p class="empty-state">No pending applications</p>
    }
  </app-card>
</div>
