#modal-container {
  position: absolute;
  background: rgb(0 0 0 / 30%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

[role='dialog'] {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.close-button {
  text-align: right;
}

@media screen and (min-width: 600px) {
  [role='dialog'] {
    width: calc(100% - 240px);
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  [role='dialog'] {
    width: calc(100% - 480px);
  }
}

@media screen and (min-width: 1440px) {
  [role='dialog'] {
    width: calc(100% - 720px);
  }
}
