#modal-container {
  position: absolute;
  background: rgb(0 0 0 / 30%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

[role='dialog'] {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 2;
}
.close-button {
  text-align: right;
  button {
    cursor: pointer;
  }
}

@media screen and (min-width: 600px) {
  [role='dialog'] {
    width: 528px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  [role='dialog'] {
    width: 544px;
  }
}
