/* You can add global styles to this file, and also import other style files */
@use '_variables' as vars;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body,
html {
  margin: 0;
  height: 100%;
  min-height: 100vh;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

a:focus,
button:focus {
  outline: none;
  border-color: #d82f5a;
  border-radius: 4px;
  box-shadow:
    0 0 4px #d82f5a,
    0 0 4px #d82f5a,
    0 0 2px #d82f5a,
    0 0 4px rgba(216, 47, 90, 0.6);
}

.auth-form-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
