/* You can add global styles to this file, and also import other style files */
@use '_variables' as vars;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
body,
html {
  margin: 0;
  height: 100%;
  min-height: 100vh;
}
#wrapper {
  background-color: vars.$linen;
  min-height: 100vh;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

h3 {
  font-weight: 500;
}
