<div id="table-wrapper">
  <table>
    <thead>
      <tr>
        @if (selectable()) {
          <th>
            <input type="checkbox" [checked]="isAllSelected()" (change)="toggleAll()" />
          </th>
        }
        @for (header of headers; track $index) {
          <th>
            {{ getHeaderLabel(header) }}
          </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of data(); track $index) {
        <tr>
          @if (selectable()) {
            <td>
              <input type="checkbox" [checked]="isRowSelected(row)" (change)="toggleRow(row)" />
            </td>
          }
          @for (header of headers; track $index) {
            <td [attr.data-label]="getHeaderLabel(header)">
              {{ getValue(row, header) }}
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
