section,
.profile_body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile_row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#profile_header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  align-items: center;
}
#profile_footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 600px) {
  .profile_row {
    flex-direction: row;
    justify-content: space-between;
  }
  app-card {
    width: calc(100vw - 15vw);
    margin: 0 auto;
  }
  #personal_information {
    .profile_row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }
  }
}

@media screen and (min-width: 1024px) {
  app-card {
    width: 845px;
    margin: 0 auto;
  }
}
