<section id="shell">
  <div class="row">
    <app-dashboard></app-dashboard>
    <app-card><div>task queue</div></app-card>
  </div>
  <div class="row">
    <app-card
      ><div><a routerLink="/loan-application/wizard">Loan Application Wizard</a></div></app-card
    >
    <app-card
      ><div><a routerLink="/underwriting">Underwriting Panel</a></div></app-card
    >
  </div>
  <div class="row">
    <app-card><div>User Table</div></app-card>
    <app-card><div>Loan Summary</div></app-card>
  </div>
</section>
