#shell {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media only screen and (min-width: 900px) {
  .row {
    flex-direction: row;
  }
  .row > * {
    flex: 0 0 50%;
    max-width: 50%;
    overflow-x: hidden;
  }
  .row:first-child > *:first-child {
    flex: 0 0 66.67%;
    max-width: 66.67%;
  }

  .row:first-child > *:last-child {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
