<section>
  <div>
    <h1>Welcome to Loan Portal</h1>
    <p>
      Farm-to-table air plant XOXO narwhal, hexagon bruh disrupt butcher woke coloring book bespoke.
      Poke tattooed bespoke post-ironic fit. Drinking vinegar godard stumptown kitsch chicharrones,
      post-ironic freegan hammock 90's gentrify. Cliche af helvetica intelligentsia flannel.
    </p>
    <span
      >Kogi same umami bruh mumblecore vinyl chia cronut green juice post-ironic neutra jean shorts
      Brooklyn.</span
    >
  </div>
</section>
