<section id="review_queue">
  <app-topbar>
    <h1>
      Review Queued
      <span>
        @for (item of typeCounts(); track item.type) {
          {{ item.count }} {{ item.type }}
        }
      </span>
    </h1>
  </app-topbar>
  <app-topbar [isSecondary]="true">
    <app-button
      type="button"
      buttonText="Review Selected"
      (clicked)="reviewSelected()"
    ></app-button>
  </app-topbar>

  <div id="review_queue-content">
    <app-pagination
      [totalItems]="submittedLoanCount()"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage()"
      (pageChange)="onPageChange($event)"
    >
      <app-table
        [data]="paginatedData()"
        [columns]="columns"
        [selectable]="true"
        (selectionChange)="onSelectionChange($event)"
      ></app-table>
    </app-pagination>
  </div>
</section>
