<section id="review_queue">
  <app-topbar>
    Review Queued
    <span>
      @for (item of typeCounts(); track item.type) {
        {{ item.count }} {{ item.type }}
      }
    </span>
  </app-topbar>

  <div id="review_queue-content">
    <app-pagination
      [totalItems]="submittedLoanCount()"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage()"
      (pageChange)="onPageChange($event)"
    >
      <app-table [data]="paginatedData()" [columns]="columns"></app-table>
    </app-pagination>
  </div>
</section>
